<section id="carousel" class="carousel slide" data-ride="carousel">
    <article class="carousel-inner">
        <section class="carousel-item">
            <img src="assets/images/1.jpg" class="d-block test" alt="image">
        </section>
        <section class="carousel-item active">
            <img src="assets/images/2.jpg" class="d-block" alt="image">
        </section>
    </article>
    <a href="#carousel" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#carousel" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</section>