<footer class="bg-light text-center text-lg-start">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">BIT HISTORY</div>
        <div class="card-body">

            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">¿que es nuestra paguina?</h5>
                    <p>
                        es una pagina wed que nos permite conocer una serie de elementos, el footer representa al pie de una sección o documento, donde los autores habitualmente colocan firmas, información acerca del autor, información de licencias, documentos relacionados,
                        etc.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">redes sociales</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img class="icon-facebook" src="../../../assets/icons/facebook.png" alt="facebook">
                            <a href="https://www.facebook.com/" class="text-red"> Facebook</a>
                        </li>
                        <br>
                        <li>
                            <img class="icon-instagram" src="../../../assets/icons/instagram.png" alt="instagram">
                            <a href="https://www.instagram.com/" class="text-red"> Instagram</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a class="text-red" routerLink="CharactersOfHistory">Characters</a>
                        </li>
                        <li>
                            <a class="text-red" routerLink="contact-us">About us</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>

</footer>