<section class="container my-5 position-relative">
    <article class="row">
        <img class="d-block mx-auto img-fluid history-img col-mg-6" src="assets/icons/history.png" alt="history image">
        <section class="col-md-6">
            <h2 class="mt-4">Personajes historicos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, amet. Officia, fuga alias optio provident accusamus expedita illo deleniti a! Voluptas dolor explicabo quaerat doloribus suscipit corporis culpa velit placeat?</p>
        </section>
    </article>
</section>