<section>

    <div class="card border-light mb-3">
        <div class="card text-center">
            <h5 class="contenedor, card-header">Characters of History</h5>
            <div class="card-body">

                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mb-4">
                        <div class="card">
                            <img src="../../../assets/images/simon.png" class="rounded mx-auto d-block, imagen">
                            <div class="card-body">
                                <h5 class="card-title">Simón Bolívar</h5>
                                <p class="card-text">El llamado “libertador”, nacido en Caracas – Venezuela, es tal vez el personaje más popular cuando se habla de la Independencia de la Nueva Granada. Simón Bolívar fue el encargado de conducir las tropas para la lucha que
                                    afrontaron, durante la campaña libertadora, contra el ejercito español en varios lugares de América, lo que lo llevó a ser el libertador de territorios que hoy conforman países como Colombia, Ecuador, Panamá y Venezuela.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="../../../assets/images/jose.png" class="rounded mx-auto d-block, imagen" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">José María Carbonell</h5>
                                <p class="card-text">Otro de los personajes que hicieron parte del inicio del grito de la independencia durante el 20 de julio de 1810 fue José María Carbonell quien, según los historiadores, se encargó de desplazarse por diferentes barrios
                                    y movilizar a cientos de personas hacía la Plaza Mayor, hoy conocida como Plaza de Bolívar, para protestar contra el Imperio español, razón por la que es llamado “el agitador”.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="../../../assets/images/antonio.png" class="rounded mx-auto d-block, imagen" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Antonio Nariño</h5>
                                <p class="card-text">Este hombre fue considerado como uno de los intelectuales más importantes de dicha época, ya que él mismo fue quien llevó a cabo la traducción, del francés al español, de la carta de Derechos del Hombre y el Ciudadano,
                                    en el año 1793. Desde ese momento, Antonio Nariño se encargó de organizar reuniones y promulgar la emancipación de los pueblos que en ese momento estaban gobernados por el Imperio español. Tras conseguir la Independencia
                                    de Colombia, Simón Bolívar lo nombró vicepresidente de la República en el año 1821.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="../../../assets/images/morales.png" class="rounded mx-auto d-block, imagen" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Antonio Morales Galavís</h5>
                                <p class="card-text">Fue quien le propinó un golpe en la cara a José González Llorente durante los hechos ocurridos en la llamada ‘Casa del Florero’ en 1810. Esto dio paso a la revolución del pueblo de Santa Fé y a la lucha por la Independencia
                                    de La Nueva Granada.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>