<section>

    <div class="card border-light mb-3">
        <div class="card text-center">
            <h5 class="contenedor, card-header">Contact us</h5>
            <div class="card-body">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/icons/coso.png" alt="logo" width="500">
                            <p class="text-muted">ingresa tus datos y te estamos contactando</p>
                            <p class="card-text"><small class="text-muted">contactenos ya </small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">

                            <form>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefault01">First name</label>
                                        <input type="text" class="form-control" id="validationDefault01" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefault02">Last name</label>
                                        <input type="text" class="form-control" id="validationDefault02" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefault03">Email</label>
                                        <input type="email" class="form-control" id="validationDefault03" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefault03">Number</label>
                                        <input type="number" class="form-control" id="validationDefault03" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="validationDefault03">Message</label>
                                        <input type="text" class="form-control" id="validationDefault03" required>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Send</button>
                            </form>


                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>