<nav class="navbar navbar-expand-lg sticky-top navbar-toggleable-sm">
    <a class="navbar-brand" href="#">
        <img class="logo-history img-fluid" src="assets/icons/coso.png" alt="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon ion-md-menu"></span>
</button>
    <section class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto text-center ml-4">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>

        <article class="login d-flex flex-row justify-content-center mt-4">
            <section class="icon-details">
                <a id="login1" class="nav-link" href="#">
                    <img src="assets/icons/user.png" alt="user" width="35px">
                </a>
                <p id="text">Login</p>
            </section>
            <section class="icon-details">
                <a id="login2" class="nav-link" href="#">
                    <img src="assets/icons/salir.svg" alt="logout" width="35px">
                </a>
                <p id="text2">Logout</p>
            </section>
            <section class="icon-details">
                <p class="nav-user" id="loginUser"></p>
            </section>
        </article>
    </section>
</nav>