body {
    font-family: 'ABeeZee', sans-serif;
}

.logo-history {
    width: 180px;
    height: 40px;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    min-height: 100px;
    font-size: 1.1rem;
}

.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: crimson;
}

.icon-details {
    width: 75px;
    margin: auto;
    text-align: center;
}

.nav-user {
    display: block;
    padding-top: 8;
    color: crimson;
}

.carousel-item>img {
    object-fit: cover;
    width: 100%;
    height: 550px;
}